<footer class="footer navbar-fixed-bottom">
		<div class="container">
				<div class="footerFlexBox flexBox">
						<h2 class="footerFlex">Muskoka Steamship & Historical Society</h2>
						<div class="footerFlex flexBox">
							<p class="">275 Steamship Bay Rd</p>
							<p>|</p>
							<p>Gravenhurst ON </p>
							<p>|</p>
							<p>P1P1Z9</p>
							<p>|</p>
							<p>(705)-687-2115</p>
						</div>
				</div>
		</div>
</footer>
<!-- FOOTER SECTION END-->
<!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY SCRIPTS -->
<script src="../javascripts/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src='../javascripts/tablesort.min.js'></script>
<script>
    new Tablesort(document.getElementById('table-id'));
</script>
<script src="../javascripts/bootstrap.js"></script>
<script src="../javascripts/client.js"></script>
</body>
</html>
