<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= title %></title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="../stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="../stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="../stylesheets/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="mainNav">
            <div class="preHeader flexBox">

                <a href="http://realmuskoka.com/" title="Go to Real Muskoka website">Main site</a>

                <a href="/" title="Go to Real Muskoka website">
                    <img src="/images/RealMuskokaLogo.png" alt="Real Muskoka logo">
                </a>

                <a href="/login" title="Super user login">Admin</a>
            </div>

            <div class="navHeader flexBox">
                <a href="/" class="mainNavLink">Home</a>
                <a href="/staff" class="mainNavLink">Staff</a>
                <a href="/myclients" class="mainNavLink">Parents</a>
            </div>
        </nav>

    </header>
    <!-- HEADER END-->
