<% include ./partials/header.ejs %>

<div class="col-md-12 jumbotron">
    <div class="alert alert-danger">
        Sorry we could not find the page you were looking for.
    </div>
</div>
<% include ./partials/footer.ejs %>