<script>
    let activeClass = "activeClass";
</script>
<% include ./partials/header.ejs %>

<main class="homePageMain">
    <div class="container homePageWraper">
        <section class="homeSection">   
            <h3>Muskoka Discovery Centre Day Camp Program</h3>

            <a href="/camper/login" class="btn buttonPrime buttonPrimeHover">
                Sign-in a camper
            </a>
            
            <a href="/camper/camperout" class="btn buttonDanger buttonDangerHover">
                Sign-out a camper
            </a>
        </section>
    </div>

</main>


<% include ./partials/footer.ejs %>
