<% include ./partials/header.ejs %>
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12"> <h2 class="page-head-line">Register Here </h2>

            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <form method="post">
                    <label for="username" class="col-sm-2 control-label">Email: </label>
                    <input name="username" id="username" class="form-control"  type="email" required/>
                    <label for="password" class="col-sm-2 control-label">Password: </label>
                    <input name="password" id="password" class="form-control"  type="password" required />
                <hr />
                    <button class="btn btn-info btn-lg col-sm-offset-2">Register  <span class="glyphicon glyphicon-user"></span> </button>

                </form>
            </div>
        </div>
    </div>
</div>










<% include ./partials/footer.ejs %>