<% include ../partials/header.ejs %>

<div class="jumbotron landing">
  <div class="text-center">
    <h1 class="coloredHeader"><%= title %></h1>
    <p>Manage Parents and Staff </p>
      <div class="col-md-offset-2 col-md-4">
        <a href="/staff" class="btn buttonPrime buttonPrimeHover btn-lg">Staff</a>
      </div>
      <div class="col-md-4">
        <a href="/myclients" class="btn buttonPrime buttonPrimeHover btn-lg">Parents</a>
      </div>
    </div>
</div>


<% include ../partials/footer.ejs %>
