<% include ../partials/header.ejs %>


<main class="container">


    <h2 class="page-head-line">Edit Staff</h2>

            <form method="post">
                <div class="form-group">
                    <label for="staffname" class="col-sm-2 control-label">First Name: </label>
                    <input name="staffname" id="staffname" required value="<%= staff.staffname %>" />
                </div>
                <div class="form-group">
                    <label for="stafflastname" class="col-sm-2 control-label">Last Name: </label>
                    <input name="stafflastname" id="stafflastname" required  value="<%= staff.staffname %>" />
                </div>
                        <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">Phone </label>
                    <input name="phone" id="phone" type="number" required value="<%= staff.phone %>" />
                </div>
                <div class="form-group">
                            <label for="role" class="col-sm-2 control-label">Role:</label>
                            <select name="role" >
                                <option<% if (staff.role == 'Admin') { %> selected <% }%>>Admin</option>
                                <option<% if (staff.role == 'Editor') { %> selected <% }%>>Editor</option>
                            </select>
                        </div>
                <button class="btn btn-success col-sm-offset-2">Save</button>
            </form>
</main>

<% include ../partials/footer.ejs %>
